@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.geist-pixel {
  font-family: "Geist Pixel", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Geist Pixel", sans-serif;

  background: linear-gradient(
    180deg,
    #6dd5fa 0%,
    #37b8ff 50%,
    #0c8ed9 100%
  );
}

.container {
  width: 420px;
  padding: 35px;

  background: rgba(255, 255, 255, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow:
    0 0 25px rgba(255,255,255,.4),
    0 10px 30px rgba(0,0,0,.25);

  color: #fff;
}
  /* fahh */

